@(infoskjerm: Infoskjerm)

@import helper._

@main("Infoskjerm") {
<h1>Toginformasjon</h1>
<h2>Toget går om  @infoskjerm.tog.avgang minutter. Fort deg!</h2>
<h2>Toget kommer til nordby om @infoskjerm.tog.ankomst minutter </h2>
 <span>@infoskjerm.tog.temptekst</span>
<hr/>
@if(infoskjerm.vaermelding.varselFraIdag) {
<h1>Dagens Værmelding</h1>
} else {
<h1>Værmelding for i morgen</h1>
}


<span>@infoskjerm.vaermelding.temptekst</span>
<br/>
<span>Symbol for dagen: @infoskjerm.vaermelding.vaerSymbol<br/>  </span>
<h2>Dagtid:  @infoskjerm.vaermelding.dagTemperatur Celsius</h2>
<span>natt:@infoskjerm.vaermelding.nattTemperatur  morgen:@infoskjerm.vaermelding.morgenTemperatur kveld: :@infoskjerm.vaermelding.kveldsTemperatur </span>




                 }