@(infoskjerm: Infoskjerm)

@import helper._
@import scala.collection.SortedSet

@main("Infoskjerm") {
<h1>Toginformasjon</h1>
<h2>Toget går om  @infoskjerm.tog.avgang minutter. Fort deg!</h2>
<h2>Toget kommer til nordby om @infoskjerm.tog.ankomst minutter </h2>
 <span>@infoskjerm.tog.temptekst</span>
<hr/>
@if(infoskjerm.vaermelding.varselFraIdag) {
<h1>Dagens Værmelding</h1>
} else {
<h2>Værmelding for i morgen</h2>
}


<span>@infoskjerm.vaermelding.temptekst</span>
<br/>
<span>Symbol for dagen: @infoskjerm.vaermelding.vaerSymbol<br/>  </span>
<h2>Dagtid:  @infoskjerm.vaermelding.dagTemperatur Celsius</h2>
<span>natt:@infoskjerm.vaermelding.nattTemperatur  morgen:@infoskjerm.vaermelding.morgenTemperatur kveld: :@infoskjerm.vaermelding.kveldsTemperatur </span>
<hr/>

<h1>Kalender</h1>
        <h2>I dag</h2>
<ul>
    @for(event <-  infoskjerm.kalender.eventerIdag) {
    <li>@event.printDato() @event.tittel </li>
    }
</ul>
<h2>andre dager</h2>
<ul>

    @Html(infoskjerm.kalender.printEventer())

</ul>
<h1>Netatmo</h1>
<span>
Temp ute: @infoskjerm.vaerstasjon.uteTemperatur grader Celsius   <br/>
fukt ute: @infoskjerm.vaerstasjon.uteFuktighet %   <br/>
Temp inne: @infoskjerm.vaerstasjon.inneTemperatur grader Celsius   <br/>
CO2 inne: @infoskjerm.vaerstasjon.co2 ppm <br/>
lyd inne: @infoskjerm.vaerstasjon.lyd db  <br/>
trykk:  @infoskjerm.vaerstasjon.trykk


</span>

                 }